<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ '/about_me' | prepend: site.baseurl }}">About Me</a></li>
      <li><a href="{{ '/research_statement' | prepend: site.baseurl }}">Research</a></li>
      <li><a href="{{ '/teaching_statement' | prepend: site.baseurl }}">Teaching</a></li>
      <li><a href="{{ '/cv' | prepend: site.baseurl }}">CV</a></li>
    </ul>
  </div>
</nav>