<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">div style="font-size:2rem; display: contents">🙋‍♂️</div>👋{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ '/about_me' | prepend: site.baseurl }}"><div style="font-size:2rem; display: contents">🙋‍♂️</div>About Me</a></li>
      <li><a href="{{ '/cv' | prepend: site.baseurl }}"><div style="font-size:2rem; display: contents">🙋‍♂️</div>Curriculum Vitae</a></li>
    </ul>
  </div>
</nav>
