---
layout: default
---

  <!-- Element to contain animated typing -->
  <span id="element" style="font-size: xx-large; display: flex; justify-content: center"></span>

  <!-- Load library from the CDN -->
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <!-- Setup and start animation! -->
    <script>
      var typed = new Typed('#element', {
        strings: [
      'I am a Professor of Digital Media...',
      'I am a Professor of Digital Media, digital humanist...',
      'I am a Professor of Digital Media, digital humanist, and media historian.',
    ],
        typeSpeed: 30, 
        backSpeed: 0,
        smartBackspace: true,
        loop: false,
      });
    </script>

<div class="catalogue">
  {% for post in site.posts %}
    {% if post.sticky %}
      {% include catalogue_item.html sticky='true' %}
    {% endif %}
  {% endfor %}

  {% for post in paginator.posts %}
    {% include catalogue_item.html %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592; Previous Page</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">Next Page &#8594;</a>
  {% endif %}

  <span>{{ paginator.page}} of {{paginator.total_pages}}</span>
</div>
